@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lato {
  font-family: 'Lato', sans-serif;
}
.font-muli {
  font-family: 'Mulish', sans-serif;
}
@layer utilities {
  .bg-food {
    background: url('https://images.deliveryhero.io/image/pedidosya/home-backgrounds/home-background-ar.jpg?quality=100&width=1345');
    background-size: cover;
    background-position: center;
  }
}
