@tailwind base;
@tailwind components;
@tailwind utilities;

.font-lato {
  font-family: 'Lato', sans-serif;
}
.font-muli {
  font-family: 'Mulish', sans-serif;
}
@layer utilities {
  .bg-food {
    background: url('https://images.deliveryhero.io/image/pedidosya/home-backgrounds/home-background-ar.jpg?quality=100&width=1345');
    background-size: cover;
    background-position: center;
  }
  .custom-shadow {
    box-shadow: rgb(181 129 108 / 80%) 0px 8px 34px -25px;
  }
  .custom-shadow-nav {
    box-shadow: 0 16px 24px -18px rgb(181 129 108 / 50%);
  }
}
